<div class="q1">
  <div class="q1-wrapper">

    <!-- Form for adding a new item -->
    <section class="input-area">
      <form class="action-form">
        <input type="text" name="product_name">
        <input type="number" name="amount">
        <select name="item-type" class="department-name-select">
          <option value="produce">Produce</option>
          <option value="grocery">Grocery</option>
          <option value="dairy">Diary</option>
          <option value="meat">Meat</option>
          <option value="other">Other</option>
        </select>

        <button type="submit" class="calculate">Add</button>
        <button type="button" class="remove">Remove all</button><br>
      </form>
    </section>

    <!-- Populated by JavaScript - shows the total -->
    <section class="price-summary"></section>

    <!-- The List -->
    <section class="list-wrapper clearfix">
      <div class="col-md-4">
        <div class="produce shopping-container" data-category="produce">
          <div>
            <h4>Produce</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="grocery shopping-container" data-category="grocery">
          <div>
            <h4>Grocery</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="dairy shopping-container" data-category="dairy">
          <div>
            <h4>Dairy/Frozen Foods</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="meat shopping-container" data-category="meat">
          <div>
            <h4>Meats/Deli Items</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="other shopping-container" data-category="other">
          <div>
            <h4>Other</h4>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
