.q1 {
  width: 100%;
  margin-top: 50px;
}

.q1-wrapper {
  width: 100%;
  margin: 0 auto;
}


.input-area {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

.list-wrapper {
  /*width: 70%;*/
  position: relative;
  margin: 0 auto;
}

.price-summary {
  text-align: right;
}

.col-md-4 {
  padding-left: 0;
  margin-top: 15px;
}

.shopping-container {
  width: 100%;
  float: left;
  border: 1px solid #dadada;
  min-height: 240px;
  padding-bottom: 15px;
}

.shopping-container h4 {
  text-align: center;
}


.remove-item {
  display: inline-block;
  padding-right: 5px;
  color: #888;
}

.remove-item:hover {
  cursor: pointer;
  opacity: 0.5 !important;
}

@media (min-width: 1024px) {
  .q1-wrapper {
    width: 100% !important;
  }
}

.dragging {
  border: 1px dashed #ccc;
  padding: 10px 0px;
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
}

.item-list:hover {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
}
